body {
    background-color: rgb(184, 132, 46);
  }
  
  #back-wall {
    background-color: #8B4513;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  #offwhite-character {
    width: 300px;
    height: 550px;
    background-color: GhostWhite;
    position: absolute;
    top: 20%;
    left: 17.5%;
  }
  
  #white-hat {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 120px 140px 180px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: GhostWhite;
    border-left-color: transparent;
    position: absolute;
    top: -140px;
    left: 0;
  }
  
  #black-mask {
    width: 100%;
    height: 50px;
    background-color: rgb(45, 31, 19);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  #gray-instrument {
    width: 15%;
    height: 40%;
    background-color: rgb(167, 162, 117);
    position: absolute;
    top: 50px;
    left: 125px;
    z-index: 1;
  }
  
  .black-dot {
    width: 10px;
    height: 10px;
    background-color: rgb(45, 31, 19);
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 65%;
  }
  
  #tan-table {
    width: 450px;
    height: 140px;
    background-color: #D2691E;
    position: absolute;
    top: 275px;
    left: 15px;
    z-index: 1;
  }