/*Shake Animation*/
@keyframes shake {
  0%, 100% {
    
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    color:rgba(0, 0, 0, 0.781);
  }
  50% {
    

    font-size: 115px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    color:rgba(0, 0, 0, 0.781);
  }
}

.shake {
  animation: shake 0.1s ease-in-out;
}
@font-face {
    font-family: 'me quran';
    src: url('img/font-quran/me_quran-webfont.eot');
    src: url('img/font-quran/me_quran-webfont.eot?#iefix') format('embedded-opentype'),
         url('img/font-quran/me_quran-webfont.woff') format('woff'),
         url('img/font-quran/me_quran-webfont.ttf') format('truetype'),
         url('img/font-quran/me_quran-webfont.svg#mequranRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PDMS Saleem QuranFont';
    src: url('img/font-quran/pdms_saleem-webfont.eot');
    src: url('img/font-quran/pdms_saleem-webfont.eot?#iefix') format('embedded-opentype'),
         url('img/font-quran/pdms_saleem-webfont.woff') format('woff'),
         url('img/font-quran/pdms_saleem-webfont.ttf') format('truetype'),
         url('img/font-quran/pdms_saleem-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KFGQPC Uthman Taha Naskh';
    src: url('img/font-quran/kfc_naskh-webfont.eot');
    src: url('img/font-quran/kfc_naskh-webfont.eot?#iefix') format('embedded-opentype'),
         url('img/font-quran/kfc_naskh-webfont.woff') format('woff'),
         url('img/font-quran/kfc_naskh-webfont.ttf') format('truetype'),
         url('img/font-quran/kfc_naskh-webfont.svg#KFGQPCUthmanTahaNaskhRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Scheherazade';
    src: url('img/font-quran/scheherazade-webfont.eot');
    src: url('img/font-quran/scheherazade-webfont.eot?#iefix') format('embedded-opentype'),
         url('img/font-quran/scheherazade-webfont.woff') format('woff'),
         url('img/font-quran/scheherazade-webfont.ttf') format('truetype'),
         url('img/font-quran/scheherazade-webfont.svg#ScheherazadeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'XB Zar';
    src: url('img/font-quran/xb_zar-webfont.eot');
    src: url('img/font-quran/xb_zar-webfont.eot?#iefix') format('embedded-opentype'),
         url('img/font-quran/xb_zar-webfont.woff') format('woff'),
         url('img/font-quran/xb_zar-webfont.ttf') format('truetype'),
         url('img/font-quran/xb_zar-webfont.svg#XBZarRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: rgba(223, 207, 190,0.6);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    user-select: none;
    display: flex;
    flex-direction: column;

}

.button,.newDayButton {
    background-color: skyblue;
    width: 4em;
    height: 4em;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.button{
  margin-top: 50px;
  position: fixed;
  left: 40%;
  bottom: 12%;
  position: absolute;
}
.button:hover, .newDayButton:hover, #button:hover {
    background-color: lightblue;
}

.button:active, #button:active{
    background-color: rgba(20, 20, 150, 0.664);
}
.newDayButton:active{
  background-color: rgba(130, 130, 187, 0.664);
}
.content{
  position: fixed;
  right: 0px;
  margin: 8px;
  width: 30em;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 1.4em;
  text-align: right;
}
#table-1 th,td{
  text-align: right;
  border : 0.10em solid #43abce ;
  padding : 0.3em ;
  padding-left : 0.6em ;
  padding-right : 0.6em ;
}
td{
  text-align: center ;
}
th, #content_string{
  font-family:'KFGQPC Uthman Taha Naskh', 'PDMS Saleem QuranFont';
}

th {
  transition: background-color 0.5s ease;
}

th:hover {
  background-color: lightblue;
  cursor: pointer;
}


th:nth-child(1), td:nth-child(1),th:nth-child(2), td:nth-child(2) {
  border-radius: 6px;
}

th:nth-child(3), td:nth-child(3),th:nth-child(4), td:nth-child(4) { 
  border-radius: 4px ;
}

.newDayButton{
  position: fixed;
  right: 36px;
  height: 2.2em;
  width: 7.1em;
  margin-top: 0.2em;
  border-radius: 5px ;
  border : 1.5px solid rgb(12, 91, 122) ;
  text-align: center;
}
.newDayButton  p{
  color: rgb(12, 91, 122);
  
  font-weight: bold;
  margin-top: 0.5em;
}
#button{

  background-color: skyblue;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 1.0em;
  font-weight: bold;
  
}

.blur-content {
  filter: blur(8px); /* Adjust the blur effect as needed */
  pointer-events: none ;
}

/*Content Label Design*/
.content_lable {
  background-color: #43abce;
  width: 400px;
  height: 400px;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Initial scale and position */
  border: 0.15em solid #16404e;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Simplified transitions for opacity and transform */
}

/* Add a class to show the content label */
.content_lable.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); /* Final scale and position */
  transition-duration: 0.2s;
}
.content_lable.hide {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
  transition-duration: 0.2s;
}


#content_close{
  color: antiquewhite;
  background-color: #16404e;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
#content_close > p::after {
  font-family:'Times New Roman', Times, serif;
  content: "\00d7";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  transform: translate(-50%, -50%);
}
#content_string{
  font-size: 30px;
  font-weight: bold;
  margin: 30px;
  text-align: center;
  height: 110px;
  max-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#seperator{
  position: fixed;
  position: absolute;
  top: 37%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 5px;
  background-color: #0e2d3844;
}

#result-1{
  width: 160px;
  font-size: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  text-align: center;

  
  color:rgba(0, 0, 0, 0.781);
  position: fixed;
  left: 30%;
  bottom: 32%;
  position: absolute;
}
/*Footer*/
footer{
    margin-top: auto;
    margin-bottom: 5px;
    text-align: center;
    
}
  
  footer p {
    margin: 0;
   
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(24, 6, 6, 0.9);
  }
  
  
  footer p a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    color: #0d7294;
    text-decoration: none;
    position: relative;
    font-weight: bold;
  }
  
  footer p a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #0e99c7;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  
  footer p a:hover {
    color: #0e99c7;
  }
  
  footer p a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  @media screen and (max-width: 600px) {
    footer p a {
      font-size: 1.4rem;
    }
  }